/* Réglage général*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
body
{  
    max-width: 1920px;
    margin:auto;
    font-family: 'Roboto', sans-serif;
}
/* ANIMATIONS GéNéRALES */
#loader/* Partie temps de chargement (loading) pour l'index.html (page d'accueil); avec ouverture sur fond blanc */
{
    position: fixed;
    inset: 0; /* Inclut: top, bottom, left, right le tout à 0 */
    background-color: white;
    height: 100%;
    z-index: 20;
    margin: auto;
    animation: loader 3s linear;
    transform-origin: center;
    visibility: hidden;
}
@keyframes loader/* Animation loader */
{
    from { 
        visibility: visible;
        opacity: 0.9;
        
    }
    to {
        opacity:0;
        visibility: hidden;
    }
}
.spinner/* Animation de la boucle de chargement aux couleurs du site Ohmyfood*/
{
    -webkit-box-pack: center;
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
    place-items: center;
    inset: 0;
    z-index: 20;
    border: 15px solid #0e8f70;
    width: 80px;
    height: 80px;
    border-top-color: #9356dc;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: chargeur 3s linear infinite;
}
@keyframes chargeur
{
    form /* Ou 0%, c'est pareil */
    {
        transform: rotate(0deg) scale(1);
        border-top-color: transparent;
        border-bottom-color: #9356dc;
    }
    25%
    {
        border-top-color: transparent;
        border-bottom-color: #0e8f70;
    }
    50%
    {
        transform: rotate(360deg) scale(1);
        border-top-color: transparent;
        border-bottom-color: #9356dc;
    }
    75%
    {
        border-top-color: transparent;
        border-bottom-color: #0e8f70;
    }
    to /* Ou 100%, c'est pareil*/
    {
        transform: rotate(720deg) scale(1);
        border-top-color: transparent;
        border-bottom-color: #9356dc;
    }
}
/* Mes mode flexbox */
.flexCentre
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexAround
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColumnCentre
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnBetween
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexColumnAroud
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.decorationNone
{
    text-decoration: none;
    color:black;
}
.texetColorBouton
{
    color: white;
}
/* Fin des réglages */
nav
{
    font-family: 'Shrikhand', cursive;
    height: 70px;
    margin-top: -10px;
    position: relative;
    font-size: larger;
    text-align: center; /* Pour mettre le texte au centre horizontalement */
    box-shadow: 0 3px 5px grey;/* Ombre vers le bas */
    padding: 0.1px;
    cursor: pointer;
}
main
{
    font-family: 'Roboto', sans-serif;
}
.paddingMap
{
    padding-right: 10px;
}
.backGroundMap
{
    background-color: #eaeaea;
}
.textAlign
{
    text-align: center;
    margin: 0;
}
.blokRez
{
    height: 250px;
    padding-top:40px;
    background-color: #f6f6f6;
}
.textAlignSousTitre
{
    text-align: center;
    font-weight:lighter;
}
.margin-topSousTitre
{
    margin-top: -20px;
    margin-bottom: 30px;
}
.restoBouton
{
    width: 60%;
    height: 50px;
    border-radius: 50px;
    margin-left: 20%;
    background: linear-gradient(170deg, #ff79da, #9356dc);/* Permet d'émettre deux couleurs en dégradé */
    box-shadow: grey 0 3px 5px;
    transition: transform 150ms;
}
.restoBouton:hover
{
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
}
/* Fonctionnement */
.margeTitre
{
    padding-left: 10px;
}
.caseFonctionnement
{
    width: 80%;
    height: 70px;
    margin-left: 40px;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: grey 0 3px 5px;
}
.rondViolet
{ 
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #9356dc;
    margin-left: 30px;
    margin-top: -45px;
}
.textSize
{
    font-size:small;
}
.colorGris
{
    color: grey;
}
.colorPurple
{
    color:#9356dc;
}
.margeIcone
{
    margin-left: 70px;
}
.flexColumnTuto
{
    counter-reset: étapes;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    
}
.flexColumnTuto > li
{
    padding: 30px;
    width: 240px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: #f6f6f6;
    box-shadow: gray 0 3px 5px;
    transition: transform 150ms;
}
.flexColumnTuto > li:hover
{
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
}
.flexColumnTuto li::before /* La partie liste énumérée + icônes */
{
    content: counter(étapes);
    counter-increment: étapes;
    color: white;
    background-color: #9356dc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: -60px;
    display: inline flow-root list-item;
    position: relative;
}
ol
{
    list-style-type: none;
}
.margeCentre
{
    margin: 30px;
}
.iconSpace
{
    position: relative;
    left: -30px;
}
/* Restaurants */
.blokResto
{
    width: 100%;
    height: 1200px;
    background-color: #f6f6f6;
    margin-top: 60px;
    padding-top:30px;
}
.carteResto1
{
    background-color: white;
    height: 245px;
    width: 340px;
    margin-left: 7px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: grey 0 3px 5px;
    transition: transform 150ms;
    margin-bottom: 20px;
}
.carteResto1:hover
{
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
}
.carteResto2
{
    background-color: white;
    height: 245px;
    width: 340px;
    margin-left: 7px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: grey 0 3px 5px;
    transition: transform 150ms;
    margin-bottom: 20px;
}
.carteResto2:hover
{
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
}
.carteResto3
{
    background-color: white;
    height: 245px;
    width: 340px;
    margin-left: 7px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: grey 0 3px 5px;
    transition: transform 150ms;
    margin-bottom: 20px;
}
.carteResto3:hover
{
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
}
.carteResto4
{
    background-color: white;
    height: 245px;
    width: 340px;
    margin-left: 7px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: grey 0 3px 5px;
    transition: transform 150ms;
    margin-bottom: 20px;
}
.carteResto4:hover
{
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
}
.insertNew
{ 
    position:relative;
    width: 100px;
    height: 30px;
    background-color: #99e2d0;
    border-radius: 3px;
    right: -230px;
    top: -160px;
}
.newSize
{
    position: relative;
    text-align: center;
    top: 5px;
    color: #0e8f70;
}
.imgSize
{
    object-fit: cover;
    background-position: center;
    height: 170px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.margePlace
{
    padding-left: 10px;
    margin-top:-50px;
}
.margePlace2 /* Pour les cartes dépuorvues de l'encart bleu-vert "Nouveau" */
{
    padding-left: 10px;
    margin-top: -3px;
}
.marginPlace
{
    margin-top: -10px;
}
/* Les COEURS */
.iconPosition /* Les icônes coeur */
{
    position: relative;
    cursor: pointer;
    left: 290px;
    bottom: 50px;
}  
.colorRadiant
{
    color: transparent;
    background-image: linear-gradient(100deg,#9356dc,#ff79da );/* Les dégradés se font TOUJOURS en background-image! */
}
.carteResto1 .fas
{   
    z-index: 10;
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 300ms ease-in-out;
    background-image: linear-gradient(100deg,#9356dc,#ff79da);
}
.carteResto1 .fas:hover
{
    opacity: 1;
    transform-origin: bottom;
    cursor: pointer;
}
.carteResto2 .fas
{   
    z-index: 10;
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 300ms ease-in-out;
    background-image: linear-gradient(100deg,#9356dc,#ff79da);
}
.carteResto2 .fas:hover
{
    opacity: 1;
    transform-origin: bottom;
    cursor: pointer;
}
.carteResto3 .fas
{   
    z-index: 10;
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 300ms ease-in-out;
    background-image: linear-gradient(100deg,#9356dc,#ff79da);
}
.carteResto3 .fas:hover
{
    opacity: 1;
    transform-origin: bottom;
    cursor: pointer;
}
.carteResto4 .fas
{   
    z-index: 10;
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 300ms ease-in-out;
    background-image: linear-gradient(100deg,#9356dc,#ff79da);
}
.carteResto4 .fas:hover
{
    opacity: 1;
    transform-origin: bottom;
    cursor: pointer;
}
.iconPosition2
{
    position: relative;
    cursor: pointer;
    left: 254px;
    bottom: 50px;
}
.colorCoeur
{
    position: relative;
    left:254px;
    bottom: 50px;
    background-image: linear-gradient(#9356dc #ff79da );
}
/* Footer */
.backgroundFooter
{
    width: 100%;
    height: 230px;
    background-color: #353535;
}
.paddingTexte
{
    padding-left: 40px;
}
.policeLogo
{
    font-family: 'Shrikhand', cursive;
    color: white;
    padding-top: 20px;
}
.policeBlanche
{
    color:white;
    text-decoration: none;
}
.fas fa-utensil
{
    padding-right: 20px; /* espacement entre l'icône et le texte */
}
.fas fa-hands-helping
{
    padding-right: 10px;
}
.margeIconeFooter1
{
    padding-right: 15px;
    font-size: smaller;
}
.margeIconeFooter2
{
    padding-right: 8px;
    font-size: smaller;
}
/* Page1.html: La palette du goût */
nav page1.html
{
    font-family: 'Shrikhand', cursive;
    height: 70px;
    margin-top: -10px;
    position: relative;
    font-size: larger;
    text-align: center; /* Pour mettre le texte au centre horizontalement */
    padding: 0.1px;
    cursor: pointer;
}
.positionTitle
{
    position:static;
    padding-right: 90px;
    padding-left:70px;
}
.flèchePosition
{
    position: relative;
    padding-right: 0;
    font-size:smaller;
}
.backgroundImage1
{
    object-fit: cover;
    width: 100%;
    height: 250px;
    position: relative;
}
/* Les MENUS */
.backgroundMenu
{
    height: 1200px;
    background-color:#f6f6f6;
    border-radius: 30px 30px 0 0;
    padding-top: 20px;
    margin-top: -50px;
    position: relative;
}
.menuTitre
{
    font-family: 'Shrikhand', cursive;
    color:black;
    text-align: center;
    font-size: x-large;
    margin:0;
}
.menuTitre1
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-direction: row;
}
.margeMenu
{
    margin-top: 40px;
}
/* Heart ANIATION */
.iconPositionPage
{
    position: absolute;
    cursor: pointer;
}
.iconPositionPageHeart
{
    position: relative;
    cursor: pointer;
}
.coeurAnim .fas/* Ici, la class="coeurAnim" est uniquement dédiée à l'animation avec les coeurs */
{
    opacity:0;
    background-clip: text;
    transition: all 300ms ease-in-out;
    background-image: linear-gradient(100deg, #9356dc, #ff79da);
    cursor: pointer;
}
.coeurAnim .fas:hover
{
    opacity: 1;
    transform-origin: bottom;
    
}

.menuTexte
{
    color: black;
    padding-left: 20px;
    text-overflow: ellipsis;/* Effet des trois points de suspention */
    overflow: hidden;
}
.menuTtitreMenu
{
    margin-top: 40px;
    font-size:large;
}
.menuTexteDetail
{
    margin-bottom: -10px;
    margin-top: 0;
}
.barreVerte
{
    border: 2px solid #99e2d0;
    width: 40px;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: -4px;
}
.cellue1 /* Cellules sur lesquels sont inscrits les menus et les prix */
{
    width: 350px;
    height: 70px;
    margin-left: 12px;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 5px grey;
    overflow: hidden;
    cursor: pointer;
    animation: pouf 0.6s;
}
.menuDescription
{
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;/* Permet de faire apparaître les "..." */
}
.prixMenu
{
    margin-left: auto;
    padding-top: 39px;
    padding-right: 20px;
}
.menuCell .confirmation
{
    position: relative;
    background-color: #99e2d0;
    border-radius: 0 20px 20px 0;
    right: 0;
    padding: 0 13px;
    height: 70px;
    width: 30px;
    margin-right: -60px;
    transition: margin-right 0.5s;
}
.menuCell:hover .confirmation
{
    margin-right: 0px;
}
.menuCell:hover i
{
    animation: quarterspin 0.3s 0.2s ease-in;
}
@keyframes quarterspin /* Faire pivoter la petite icône de confirmation */
{
    from
    {
        transform: rotate(-270deg);
    }
    to 
    {
        transform: rotate(360deg);
    }
}
.menuCell
{
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
}
.doneColor
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 17px;
    transform:rotate(0deg);
}
/* Bouton "Commander" */
.commanderBouton
{
    width: 50%;
    height: 50px;
    border-radius: 50px;
    margin-left: 25%;
    margin-top: 40px;
    background: linear-gradient(170deg, #ff79da, #9356dc);/* Permet d'émettre deux couleurs en dégradé */
    box-shadow: grey 0 3px 5px;
    transition: transform 150ms;
}
.commanderBouton:hover
{
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
}
/* Apparition des blocs menus (animation) */
.delay0
{
    animation-delay: 100ms;
}
.delay1
{
    animation-delay: 200ms;
}
.delay2
{
    animation-delay: 300ms;
}
.delay3
{
    animation-delay: 400ms;
}
.delay4
{
    animation-delay: 500ms;
}
.delay5
{
    animation-delay: 600ms;
}
.delay6
{
    animation-delay: 700ms;
}
.delay7
{
    animation-delay: 800ms;
}
.delay8
{
    animation-delay: 900ms;
}

.cellue1 .delay0 .delay1 .delay2 .delay3 
.delay4 .delay5 .delay6 .delay7 .delay8
{
    animation-fill-mode: both;
    max-width: 100%;
    transform: scale(0);
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
   
}
@keyframes pouf
{
    from
    {
        transform: scale(0);
    }
    to 
    {
        transform: scale(1);
    }
}