/* Réglage général*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
body
{
    max-width: 410px;
    margin:auto;
    font-family: 'Roboto', sans-serif;;
}
/* Mes mode flexbox */
.flexCentre
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexAround
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColumnCentre
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnBetween
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexColumnAroud
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.decorationNone
{
    text-decoration: none;
    color:black;
}
.texetColorBouton
{
    color: white;
}
/* Fin des réglages */
nav
{
    font-family: 'Shrikhand', cursive;
    height: 70px;
    margin-top: -10px;
    position: relative;
    font-size: larger;
    text-align: center; /* Pour mettre le texte au centre horizontalement */
    box-shadow: 0 0 5px 3px grey;/* Ombre vers le bas */
    padding: 0.1px;
    cursor: pointer;
}
main
{
    font-family: 'Roboto', sans-serif;
}
.paddingMap
{
    padding-right: 10px;
}
.backGroundMap
{
    background-color: #eaeaea;
}
.textAlign
{
    text-align: center;
    margin: 0;
}
.blokRez
{
    height: 250px;
    padding-top:40px;
    background-color: #f6f6f6;
}
.textAlignSousTitre
{
    text-align: center;
    font-weight:lighter;
}
.margin-topSousTitre
{
    margin-top: -20px;
    margin-bottom: 30px;
}
.restoBouton
{
    width: 60%;
    height: 50px;
    border-radius: 50px;
    margin-left: 20%;
    background: linear-gradient(170deg, #ff79da, #9356dc);/* Permet d'émettre deux couleurs en dégradé */
    box-shadow: grey 0 3px 5px;
    transition: transform 150ms;
}
.restoBouton:hover
{
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
}
/* Fonctionnement */
.margeTitre
{
    padding-left: 10px;
}
.caseFonctionnement
{
    width: 80%;
    height: 70px;
    margin-left: 40px;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: grey 0 3px 5px;
}
.rondViolet
{ 
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #9356dc;
    margin-left: 30px;
    margin-top: -45px;
}
.textSize
{
    font-size:small;
}
.colorGris
{
    color: grey;
}
.colorPurple
{
    color:#9356dc;
}
.margeIcone
{
    margin-left: 70px;
}
.flexColumnTuto
{
    counter-reset: étapes;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    
}
.flexColumnTuto > li
{
    padding: 30px;
    width: 240px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: #f6f6f6;
    box-shadow: gray 0 3px 5px;
    transition: transform 150ms;
}
.flexColumnTuto > li:hover
{
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
}
.flexColumnTuto li::before
{
    content: counter(étapes);
    counter-increment: étapes;
    color: white;
    background-color: #9356dc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: -60px;
    display: inline flow-root list-item;
    position: relative;
}
ol
{
    list-style-type: none;
}
.margeCentre
{
    margin: 30px;
}
.iconSpace
{
    position: relative;
    left: -30px;
}
/* Restaurants */
.blokResto
{
    width: 100%;
    height: 1200px;
    background-color: #f6f6f6;
    margin-top: 60px;
    padding-top:30px;
}
.carteResto
{
    background-color: white;
    height: 245px;
    width: 340px;
    margin-left: 7px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: grey 0 3px 5px;
    transition: transform 150ms;
    margin-bottom: 20px;
}
.carteResto:hover
{
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
}
.insertNew
{ 
    position:relative;
    width: 100px;
    height: 30px;
    background-color: #99e2d0;
    border-radius: 3px;
    right: -230px;
    top: -160px;
}
.newSize
{
    position: relative;
    text-align: center;
    top: 5px;
    color: #0e8f70;
}
.imgSize
{
    object-fit: cover;
    background-position: center;
    height: 170px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.margePlace
{
    padding-left: 10px;
    margin-top:-50px;
}
.margePlace2 /* Pour les cartes dépuorvue de l'encart bleu-vert "Nouveau" */
{
    padding-left: 10px;
    margin-top: -3px;
}
.marginPlace
{
    margin-top: -10px;
}
.iconPosition
{
    position: relative;
    left: 290px;
    bottom: 50px;
}
.colorCoeur
{
    position: relative;
    left:254px;
    bottom: 50px;
    background: linear-gradient(#9356dc #ff79da );
}
/* Footer */
.backgroundFooter
{
    width: 100%;
    height: 230px;
    background-color: #353535;
}
.paddingTexte
{
    padding-left: 40px;
}
.policeLogo
{
    font-family: 'Shrikhand', cursive;
    color: white;
    padding-top: 20px;
}
.policeBlanche
{
    color:white;
    text-decoration: none;
}
.fas fa-utensil
{
    padding-right: 20px; /* espacement entre l'icône et le texte */
}
.fas fa-hands-helping
{
    padding-right: 10px;
}